/* ############### TAG SELECTORS ############### */
body {
  background-color: #fffdf9;
  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  text-align: center;
}

hr {
  border-style: dotted none none;
  border-color: #beebe9;
  border-width: 5px;
  width: 5%;
  margin-top: 40px;
}

h1 {
  color: #27496d;
  margin-top: 0;
}

h3 {
  color: #8ac6d1;
}

a {
  color: #584153;
  font-family: brandon-grotesque, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #af8baf;
}

/* ############### CLASS SELECTORS ############### */
.id-photo {
  border-radius: 100%;
  background-color: #ffffff;
  margin-top: 0;
}

.contact-button {
  background-color: #ffe3ed;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 3px;
  font-weight: normal;
}

.contact-button:hover {
  background-color: #f6acc8;
  color: #584153;
}

.top-container {
  background-color: #beebe9;
  position: relative;
  padding: 20px;
}

.middle-container {}

.bottom-container {}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
